body {
    background-color: rgb(126, 194, 239);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 254, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}


.log-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    background-size: auto;
    color: black;
    border-radius: 10px;
    padding: 20px;
  }

.btnlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    background-size: auto;
    color: black;
    border-radius: 10px;
    padding: 20px;
}


.uploaddisp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    background-size: auto;
    color: black;
    border-radius: 10px;
    padding: 20px;
  }

input,
button{
    border-radius: 5px;
}

  #auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


header{
    width: 100%;
    background-color: rgb(78, 0, 0);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px, 0;
}


    .teachertab {
    margin: auto;
    border-collapse: collapse;
    }

    .teachertab td,
    .teachertab th {
        padding: 10px;
    }

    .teachertab tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.15);
    }


nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    margin-top: 0;
}

nav ul {
    display: flex;
    gap: 30px;
    padding: 10px;
    margin: 0;
    list-style: none;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(200, 198, 201);
    color: black;
}