<!DOCTYPE html>

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css' )}}" >
    <h1>Parking Roster System.</h1>
    <p>By Ryan Nesbit</p>

</head>

<body>


    <div class="btnlay">

        <a href="{{url_for('roster')}}" class="btn btn-roster">View Roster</a>
        <a href="{{url_for('listofteach')}}" class="btn btn-roster">List of Teachers</a>
        <a href="{{url_for('uploadteach')}}" class="btn btn-roster">Upload Teachers For Database</a>
        <a href="{{url_for('logout')}}" class="btn btn-logout">Logout</a>

    </div>


</body>

