<div class="container">
  <h1>Login</h1>
  <form action="">
    <input
      type="text"
      name="Username"
      placeholder="Username"
      class="input field"
    />
    <!-- Creates the username field -->
    <input
      type="password"
      name="Password"
      placeholder="Password"
      class="input field"
    />
    <!-- Creates the password field -->
    <button type="submit" value="Login" class="btn btn-login" />
    <!-- Creates the login button -->
    <button type="button" value="Register" class="btn btn-login" />
    <!-- Creates the register button -->
  </form>
</div>


