<h1>Login</h1>

<div class="log-contain">
  <form id="auth-form" action="{{url_for('login')}}" method="post">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css' )}}" >  
    
    <input
      type="text" 
      name="username"
      placeholder="Username" required
      class="input field"
    />
    <!-- Creates the username field -->
    <label>Username cannot be over 25 char. Please avoid personal sensitive information for safety</label>
    
    <input
      type="password"
      name="password"
      placeholder="Password" required
      class="input field"
    />
    <label>Password cannot be over 150 char. Unique passwords are always more secure.</label>
    <!-- Creates the password field -->
    <input type="button"
    value="Login" 
    class="btn btn-login" 
    onclick="setActionForm('login')" />

    <input type="button" 
    value="Register" 
    class="btn btn-login" 
    onclick="setActionForm('register')" />
    <!-- Creates the register button -->
  </form>
</div>



<script> 
  function setActionForm(action){
    let form = document.getElementById("auth-form") /* finds the auth-form and stores it */
    if (action === "login"){
      form.action = "{{url_for('login')}}" /* sends to the login func */
      form.method = "post"; /* sends the form data to flask */
      form.submit(); 
    } 
    else if (action === 'register') {
      form.action = "{{url_for('register')}}" /* sends to the register func */
      form.method = "post"; /* sends the form data to flask */
      form.requestSubmit();
    }
  }

</script>

<style>
  label {
    font-size: 10px;
    color: red;
  }
</style>